.root {
    -fx-font-family: 'Arial', sans-serif; /* Police par défaut */
    -fx-background-color: #34495e; /* Bleu foncé */
    -fx-alignment: center;
}

.label {
    -fx-font-family: 'Verdana', sans-serif; /* Police pour les étiquettes */
    -fx-text-fill: #f1c40f; /* Jaune complémentaire */
    -fx-text-alignment: center;
    -fx-font-size: 20px; /* Taille de la police */
    -fx-alignment: center; /* Centrage vertical et horizontal */
}

.date-label {
    -fx-font-family: 'Arial', sans-serif; /* Police pour les labels personnalisés */
	-fx-background-color: #5d5555;
    -fx-text-fill: #f1c40f; /* Jaune complémentaire */
    -fx-text-alignment: left;
    -fx-font-size: 13px; /* Taille de la police */
    -fx-alignment: center; /* Centrage vertical et horizontal */
	-fx-border-color: black;
	-fx-border-width: 1 1 1 1;
}

.text {
    -fx-font-family: 'Times New Roman', serif; /* Police pour le texte */
    -fx-text-alignment: center;
    -fx-alignment: center; /* Centrage vertical et horizontal */
}

.button {
    -fx-font-family: 'Helvetica', sans-serif; /* Police pour les boutons */
    -fx-background-color: #f39c12; /* Orange */
    -fx-text-fill: white;
    -fx-min-width: 100px;
    -fx-pref-width: 200px; /* Largeur préférée */
    -fx-max-width: 300px; /* Largeur maximale */
    -fx-alignment: center; /* Centrage vertical et horizontal */
}

.menu-bar {
    -fx-font-family: 'Segoe UI', sans-serif; /* Police pour la barre de menu */
    -fx-background-color: #2c3e50; /* Bleu plus saturé */
    -fx-alignment: center; /* Centrage vertical et horizontal */
}

.menu-item {
    -fx-font-family: 'Courier New', monospace; /* Police pour les éléments de menu */
    -fx-text-fill: #34495e; /* Couleur de texte pour les éléments de menu */
    -fx-text-alignment: center;
    -fx-alignment: center; /* Centrage vertical et horizontal */
}

.menu-item:hover {
    /* -fx-background-color: #f39c12;  Couleur de fond pour l'effet de survol */
    -fx-text-fill: white; /* Couleur de texte pour l'effet de survol */
}

.button-special:hover {
    /* -fx-background-color: #f39c12;  Couleur de fond pour l'effet de survol */
    -fx-background-color: white; /* Couleur de texte pour l'effet de survol */
}
